<!DOCTYPE html>
<html>
<head>
    <title>Webphonix job seekers | Home :: webphonix</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/flexslider.css" type="text/css" media="screen" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="All jobs on one click, Employer, Job seekers" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>    
    <script type="text/javascript" src="~/Scripts/jquery.leanModal.min.js"></script>
    <link href="~/Content/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Scripts/jquery.uls.data.js"></script>
    <script src="~/Scripts/jquery.uls.data.utils.js"></script>
    <script src="~/Scripts/jquery.uls.lcd.js"></script>
    <script src="~/Scripts/jquery.uls.languagefilter.js"></script>
    <script src="~/Scripts/jquery.uls.regionfilter.js"></script>
    <script src="~/Scripts/jquery.uls.core.js"></script>    
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><span>Web</span>phonix</a>
            </div>
            <div class="header-right">
                <a class="account" href="@Url.Action("Index","User")">My Account</a>
               <a href="@Url.Action("Index","Employer")"><span class="active uls-trigger">Employer Account</span></a> 
                <span class="active uls-trigger">Select Test</span>               
            </div>
        </div>
    </div>
    <div class="@(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "main-banner banner text-center" : "banner text-center")">
        <div class="container">
            <h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <div class="col-sm-3"></div>
            <div class="col-lg-6" style="@(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "" : "display:none")">
                <input type="text" class="form-control" placeholder="Search your job here" />
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    @RenderBody()
    <!--footer section start-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="foo-grids">
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Who We Are</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal letters, as opposed to using 'Content here.</p>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Help</h4>
                        <ul>
                            <li><a href="howitworks.html">How it Works</a></li>
                            <li><a href="sitemap.html">Sitemap</a></li>
                            <li><a href="faq.html">Faq</a></li>
                            <li><a href="feedback.html">Feedback</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="typography.html">Shortcodes</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Information</h4>
                        <ul>
                            <li><a href="regions.html">Locations Map</a></li>
                            <li><a href="terms.html">Terms of Use</a></li>
                            <li><a href="popular-search.html">Popular searches</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Contact Us</h4>
                        <span class="hq">Our headquarters</span>
                        <address>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-map-marker"></span></li>
                                <li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
                                <div class="clearfix"></div>
                            </ul>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-earphone"></span></li>
                                <li>+0 561 111 235</li>
                                <div class="clearfix"></div>
                            </ul>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-envelope"></span></li>
                                <li><a href="mailto:info@example.com">mail@example.com</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="footer-logo">
                    <a href="index.html"><span>Web</span>phonix</a>
                </div>
                <div class="footer-social-icons">
                    <ul>
                        <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                        <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                        <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                        <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                        <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
                    </ul>
                </div>
                <div class="copyrights">
                    <p> © @DateTime.Now.Year Webphonix. All Rights Reserved | Design by  <a href="http://webphonix.com/"> Webphonix</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
    <!--footer section end-->
</body>
</html>